@import "tailwindcss";

@theme {
  /* FIXED: Changed 'l' to '1' in the yellow hex code */
  --color-brand-yellow: #fdbe15; 
  --color-brand-green: #40b543;
  --color-brand-black: #1a1a1a;
  --color-brand-dark: #333333;
  --color-brand-grey: #707070;
  --color-brand-red: #e53935;
  
  --font-brand: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  font-family: "NHAASGroteskDSPro-65Md" !important;
  background-color: #f9f7f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#carousel{
  max-height: 500px;
  

}



