services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - PORT=5000
    volumes:
      - ./server:/app
      - /app/node_modules
  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL={VITE_API_URL}
    volumes:
      - ./client:/app
      - /app/node_modules
