services:
  server:
    image: anugrahkariyatt/food-website-server:v1.0
    ports:
      - "5000:5000"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - PORT=5000
    volumes:
      - ./server:/app
      - /app/node_modules
  client:
    image: anugrahkariyatt/food-website-client:v1.0
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    volumes:
      - ./client:/app
      - /app/node_modules
