.btn-checkout {
  background: linear-gradient(to right, #5e3f9c, #9370db);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn-checkout:hover {
  background: linear-gradient(to left, #5e3f9c, #9370db);
  color: white;
}
.container-div {
  max-height: 400px;
  overflow-y: auto;
}
